/*classes all LC no space
    ids all LC with - concat
    functions UC second word and beyond

*/

/* -------------------- GENERAL --------------------*/

body {
    background-color: #1b4553;
}

p, h1, h2, h3, h4, h5, h6,label {
    color: white;
}

a {
    color: #A9F4FF;
}

    a:visited {
        color: #7CA9FF;
    }

.flex {
    display: flex;
    flex-direction: row;
}

.vflex {
    display: flex;
    flex-direction: column;
}

.top {
    z-index: 3;
}

/*--------------------IMAGE STACK--------------------*/
.stackcontainer {
    width: 460px;
    height: 850px;
    position: relative;
    overflow: visible;
}

.stack {
    position: absolute;
    top: -20px;
    left: -50px;
    overflow: visible;
}

div.stack > img {
    height: 850px;
}

.multiply {
    mix-blend-mode: multiply;
}

.mask {
    mask-composite: add;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
}


/*--------------------INPUTS--------------------*/ /*TODO style better*/
.slidercontainer{

}

input[type=range][orient=vertical] {
    -webkit-appearance: slider-vertical; /* Chromium, but everything uses this now*/
    width: 8px;
    height: 175px;
    padding: 0 5px;


    background: black;
    outline: none;

    -webkit-transition: .2s;
    transition: filter .2s;
    filter: brightness(0.8);
}


    input[type=range][orient=vertical]:hover {
        filter: brightness(1);
    }

    input[type=range][orient=vertical]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: red;
        cursor: pointer;
    }

    input[type=range][orient=vertical]::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: red;
        cursor: pointer;
    }

.rangeLablecontainer{
}

.rangeLablecontainer > p{
    margin-top:3px;
    margin-bottom: 17px;
    margin-left:10px;
    margin-right:10px;
}