body
{
    background-color:#1b4553;
}
/*classes all LC no space
    ids all LC with - concat
    functions UC second word and beyond

*/
.stackcontainer{
    width:445px;
    height:850px;
    position:relative;
    overflow:visible;
}

.flex{
    display:flex;
    flex-direction:row;
}

.top{
    z-index:3;
}

.stack {
    position:absolute;
    top:0;
    left:-50px;
    overflow:visible;
}

div.stack > img{
    height:850px;
}

.multiply { /* TODO rename*/
    mix-blend-mode: multiply;
}

.masked{

}

input[type=range][orient=vertical] {
    -webkit-appearance: slider-vertical; /* Chromium, but everything uses this now*/
    width: 8px;
    height: 175px;
    padding: 0 5px;
}