/*classes all LC no space
    ids all LC with - concat
    functions UC second word and beyond

*/

/* -------------------- GENERAL --------------------*/
html{
    scroll-behavior:smooth;
}

body {
    background:url(main/Wallpaper.png);
    background-size:200px;
    background-attachment:fixed;
    position:relative;
    padding:0px;
    margin:0px;
}

p, h1, h2, h3, h4, h5, h6,label,img,button, tr, th, li {
    margin:7px;
    color: white;
}



a {
    color: #A9F4FF;
}
    a:visited {
        color: rgb(0, 162, 212);
    }

.flex {
    display: flex;
    flex-direction: row;
}

.vflex {
    display: flex;
    flex-direction: column;
}

.scroll{
    overflow:scroll;
}

.center{
    justify-content:center;
}

.wrap{
    flex-wrap:wrap;
}

.wrap>*{
    max-height:570px;
}

.top {
    z-index: 3;
}

/*decoration*/
li{
    list-style:none;
}
    li::before {
        display: inline-block;
        height: 9px;
        width: 15px;
        content: '';
        background-image: url(main/UlLi.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

.shaded {
    width:inherit;
    position:relative;
    margin-top:10px;
    margin-bottom:10px;
}
    .shaded > div {
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        resize:vertical;
    }
    .shaded > img{
        position:absolute;
        overflow:visible;
        z-index:-3;
    }

.framebg {
    overflow: visible;
    filter: brightness(0.3);
    opacity: 0.6;

    width: inherit;
    top: -8px;
    left: -8px;
    transform: scale(1.1);
}

.framebl,.framebr,.frametl,.frametr{
    pointer-events:none;
}

.frametl {
    transform: scale(0.3);
    top: -69px;
    left: -88px;
}
.frametr {
    transform: scale(0.4);
    top: -33px;
    right: -32px;
}
.framebl {
    transform: scale(-0.4);
    bottom: -33px;
    left: -32px;
}
.framebr {
    transform: scale(-0.3);
    bottom: -69px;
    right: -88px;
}

div.deco {
    position:relative;
    padding-left: 33px;
    padding-bottom: 30px;
}
div.deco>img {
    position:absolute;
    bottom:0px;
    left:0px;
    height:50px;
    z-index:-1;
}
div.deco2 {
    position:relative;
    padding-left: 34px;
    padding-bottom: 17px;
}
div.deco2>img {
    position:absolute;
    bottom:0px;
    left:0px;
    height:46px;
    z-index:-1;
}
div.deco3 {
    position: relative;
    padding-left: 19px;
    padding-bottom: 7px;
}

    div.deco3 > img {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 32px;
        z-index: -1;
    }

.txt{
    margin-left:140px;
    margin-right:140px;
    margin-top:30px;
    margin-bottom:30px;
}

.txt > table{
    
    text-align:center;
}

.framed1::before, .framed1::after {
    content: '';
    display: inline-block;
    background: url(main/UnderlineL.png);
    height: 39px;
    width: 167px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin:7px;
}
.framed1::before{
    transform:scale(-1, 1);
}
/*--------------------IMAGE STACK--------------------*/
.stackcontainer {
    min-width: 420px;
    height: 750px;
    position: relative;
    overflow: visible;
}

.stack {
    position: absolute;
    top: -40px;
    left: -33px;
    overflow: visible;
}

div.stack > img {
    height: 620px;
}

.multiply {
    mix-blend-mode: multiply;
}

.mask {
    mask-composite: add;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.opaque{
    opacity:1;
}
.seethrough{
    opacity:0;
}


/*--------------------INPUTS--------------------*/
/*  sliders  */
.slidercontainer{

}

input[type=range][orient=vertical] {
    -webkit-appearance: slider-vertical; /* Chromium, but everything uses this now*/
    width: 18px;
    height: 175px;
    outline: none;

    background: url(input/Slider.png);
    background-position-y: 1px;
    background-size: contain;
    background-repeat: no-repeat;

    -webkit-transition: .2s;
    transition: filter .2s;
    filter: brightness(0.8);
}

    input[type=range][orient=vertical]:hover {
        filter: brightness(1);
    }

    input[type=range][orient=vertical]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 46px;
        height: 25px;
        cursor: pointer;
        background: url(input/Thumb.png);
        background-position-x: 4px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    input[type=range][orient=vertical]::-moz-range-thumb {
        width: 46px;
        height: 25px;
        border:0;
        cursor: pointer;

        background: url(input/Thumb.png);
        background-position-x:4px;
        background-size:cover;
        background-repeat:no-repeat;
    }


.rangeLablecontainer{
}

.rangeLablecontainer > p{
    margin-top:3px;
    margin-bottom: 17px;
    margin-left:15px;
    margin-right:10px;
}

/*  Radios  */
[type = radio]{ /*dissappear lol*/
    opacity:0;
    width:0;
    height:0;
    margin:0;
}

[type = radio] + label{
    background:url(input/Radio0.png);
    background-repeat:no-repeat;
    background-size:contain;
    transition:0.2s;

    margin-left:0px;
    padding-left:30px;

    color:#A3BBC2;
}

    label:hover {
        color: white;
    }

[type = radio]:checked + label {
    background: url(input/Radio1.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.2s;

    color:white;
    font-weight:bold;
}







/*  Arrow Buttons  */

.arrbutton {
    position:relative;
    appearance: none;
    background-color: rgba(0, 0,0,0);
    border: hidden;
    overflow:visible;
    width:30px;
    height:25px;
    margin:4px;
    padding:0px;
}
    .arrbutton > img {
        height:25px;
        position:absolute;
        margin:0px;
        top:0px;
        right:0px;
        color: white;
        filter: brightness(0.8);
        transition:0.15s;
    }
    .arrbutton > *:hover {
        color: aquamarine;
        filter: brightness(1);
    }
    .arrbutton.r > *{
        left:0px;
        transform:scale(-1, 1);
    }

    /*left menu*/
.menu {
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 0px;
    top: 0px;
    left: 0px;
    justify-content: left;
}

.menuItem {
    transition: 0.2s;
    background-color: transparent;
    border: none;
    padding: 0px;
    height: 65px;
    justify-content: left;
    filter: brightness(1);
}

    .menuItem:hover {
        filter: brightness(1.2);
    }

    .menuItem > img {
        width: inherit;
        filter: drop-shadow( 0px 3px 4px black);
        margin:0px;
    }

#home {
    margin-top: 20px;
    width: 195px;
    transform: translate(-40px);
}

    #home:hover {
        transform: translate(0px);
    }

#top {
    width: 150px;
    transform: translate(-60px);
}

    #top:hover {
        transform: translate(0px);
    }

/*tos stuff*/
p.aster{
    font-size:10px;
}
p.aster::before{
    content:"*";
}

/*toc stuff*/
div.toc{
   text-align:center; 
   filter:drop-shadow(0px 0px 3px black);
}
ul.toc{
    list-style-type:none;
    padding:0px;
    font-size:18px;
    margin:7px;
}
ul.toc li::before
{
    width:0px;
}
ul.toc li>:first-child{
}
    ul.toc li > :first-child::before, ul.toc li > :first-child::after {
        content: '';
        display: inline-block;
        background-image: url(main/Ll.png);
        background-size:contain;
        background-repeat:no-repeat;
        height: 23px;
        width: 15px;
        vertical-align: middle;
    }
        ul.toc li > :first-child::after{
            transform:scale(-1, 1);
        }

ul.toc>li>ul{
    font-size:14px;
}
ul.toc>li>ul>li>:first-child{
}
    ul.toc > li > ul > li > :first-child::before, ul.toc > li > ul > li > :first-child::after {
        content: '';
        display: inline-block;
        background-image: url(main/Lll.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 15px;
        width: 8px;
        vertical-align: middle;
    }

.toc li>a{
    text-decoration:none;
    color:white;
}
.toc li>a:visited{
    text-decoration:none;
    color:antiquewhite;
}


/*revision table*/
#trev{
    margin-left:auto;
    margin-right:auto;
    width:90%;
    min-width:600px;
}
    #trev>thead>tr>* {
        vertical-align:bottom;
    }

    #trev>tbody>tr>:nth-child(1) {
        width:12%;
    }
    #trev > tbody > tr > :nth-child(2) {
        text-align: center;
        width: 10%;
    }
    #trev > tbody > tr > :nth-child(3) {
        width: 67%;
    }
    #trev > tbody > tr > :nth-child(4) {
        text-align: center;
        width: 10%;
    }
        #trev > tbody > tr > :nth-child(4)::before {
        content:">$";
        }

/*do dont table*/
#dnd+table{
    margin-left:auto;
    margin-right:auto;
    width:60%;

}
#dnd + table > thead>tr>*{
    width: 50%;
}
#dnd + table > tbody>tr>*{
    vertical-align:top;
}
    #dnd + table > tbody > tr > td > ul {
        padding:0px;
    }

/*curtains*/
.curtain{
    position:absolute;
    top:-32px;
    z-index:-3;
    padding:0px;
    margin:0px;
    height:670px;
}
.curtain.l{
    left:0px;
}
.curtain.r{
    right:0px;
    transform:scale(-1, 1);
}