/* this is applicable to all pages using image viewer
    this refers to image layout, image modals, etc
*/
/* GENERAL |======================================*/


.gallery{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    justify-content:center;

}

/* MODALS |==========================================*/
.modal {
    /*positioning*/
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*container prperties*/
    display: flex;
    overflow: scroll;
    flex-direction: column;
    background: linear-gradient(
        90deg, 
        rgba(20,10,20, 0.7), 
        rgba(20,10,20, 0.9) 15% 85%, 
        rgba(20,10,20, 0.7));
    /*replace with appropreate background*/
    /* toggle block to none */
    display: none;
    z-index: 6; /*3 is taken by top elements*/
}

/*modal close button*/
.close {
    position:fixed;
    top:0px;
    right:10px;
}
.close>p {
    font-size: 34px;
    font-weight: bolder;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;

    color:black;
    opacity:0.3;
    transition:0.2s;
}
    .close>p:hover,
    .close>p:focus {
        color: black;
        opacity:0.9;
        font-size:38px;
    }


/* IMG DISPLAYS |============================================== */
.expcont{
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

/* TRANSPARENT IMG BG |========================================*/
img.none{

}
img.red {
    background: radial-gradient(#C62222, #692138);
}
img.white {
    background: radial-gradient(white, #D3F1F4);
}
img.gal{
    width:100%;
    margin:0px;
}
img.magenta{
    background: radial-gradient(#C74D80, #63104e);
}
img.green{
    background: radial-gradient(#F0F7D8, #B7EBAB);
}
img.orange{
    background:radial-gradient(#FF893D, #FF7038);
}
img.black{
    background:radial-gradient(#000000, #001B28);
}
img.blue{
    background:radial-gradient(#94CCE4, #374C7D);
}

/* OTHER IMG STUFF |======================================== */
/*note this is only to be used for thumbnail displays*/
.imgframe{
    position:relative;
    height:400px;
    width:auto;
    margin:5px;
}

.imgcont{
    width:inherit;
    position:absolute;
    transition:0.2s;
}
.imgcont:hover{
    filter:brightness(0.7);
}


div.test{
    width:100%;
    aspect-ratio:1/1; /*for backup*/
}

.stackind {
    background-image: url(main/StackInd.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity:0.3;
    transition: 0.2s;
}
.imgcont:hover ~ .stackind{
    opacity:0.8;
}