/* this is applicable to all pages using image viewer
    this refers to image layout, image modals, etc
*/
/* GENERAL |======================================*/
*{
    color:white;
}

/* MODALS |==========================================*/
.modal {
    /* toggle block to none */
    display: block;
    z-index: 6; /*3 is taken by top elements*/
    /*positioning*/
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*container prperties*/
    display: flex;
    overflow: scroll;
    flex-direction: column;
    background: linear-gradient(
        90deg, 
        rgba(20,10,20, 0.6), 
        rgba(20,10,20, 0.8) 15% 85%, 
        rgba(20,10,20, 0.6));
    /*replace with appropreate background*/
}

    /* Modal Content */
/*to add when nessecary, for now find in image containers*/


/*modal close button*/
/*explaination : sticky container to stay fixed

*/
.close {
    position:fixed;
    top:0px;
    right:10px;
}
.close>p {
    font-size: 28px;
    font-weight: bolder;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;

    color:black;
    opacity:0.6;
    transition:0.2s;
}

    .close>p:hover,
    .close>p:focus {
        color: black;
        opacity:0.9;
        font-size:30px;
    }

/* IMG DISPLAYS |============================================== */
.expcont{
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

/* TRANSPARENT IMG BG |========================================*/
img.none{

}
img.red {
    background: radial-gradient(#C62222, #692138);
}
img.white {
    background: radial-gradient(white, #D3F1F4);
}
img{
    width:100%;
}
img.magenta{
    background: radial-gradient(#C74D80, #63104e);
}
img.green{
    background: radial-gradient(#F0F7D8, #B7EBAB);
}
img.orange{
    background:radial-gradient(#FF893D, #FF7038);
}
img.black{
    background:radial-gradient(#000000, #001B28);
}

/* OTHER IMG STUFF |======================================== */
/*note this is only to be used for thumbnail displays*/
.imgframe{
    position:relative;
}

.imgcont{
    width:inherit;
    position:absolute;
}

.wewewe{
    background:orange;
}

div.test{
    width:100%;
    aspect-ratio:1/1;
}